﻿@model Role_Model
@{
    Layout = null;
    List<Role_Model> _ListRole = new List<Role_Model>();
    if (ViewBag.ListRole != null)
    {
        _ListRole = ViewBag.ListRole as List<Role_Model>;
    }

    List<string> _ListModule = new List<string>();
    if (ViewBag.ListModule != null)
    {
        _ListModule = ViewBag.ListModule as List<string>;
    }
}

<form action="@Url.Action("Update_Role","Home")" method="post">
    <section class="card">
        <header class="card-header">
            <h2 class="card-title">Role</h2>
        </header>
        <div class="card-body">
            <div class="modal-wrapper">
                <div class="form-group-sm">
                    <label>Desktop/Mobile</label>
                    <select class="form-control select2" name="Slug">
                        @if (Model.Slug == 8)
                        {
                            <option value="8" selected>Desktop</option>
                            <option value="9">Mobile</option>
                        }
                        else
                        {
                            <option value="8">Desktop</option>
                            <option value="9" selected>Mobile</option>
                        }
                    </select>
                </div>
                <div class="form-group-sm">
                    <label>Module</label>
                    <select id="cbo_Module" class="form-control select2" name="Module">
                        @{
                            foreach (string Item in _ListModule)
                            {
                                if (Model.Module == Item)
                                {
                                    <option value="@Item" selected>@Item</option>
                                }
                                else
                                {
                                    <option value="@Item">@Item</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group-sm mb-2">
                    <label>Parent (Menu cha)</label>
                    <select id="cbo_Parent" class="form-control select2" name="Parent">
                        <option value="0">--//--</option>
                        @{
                            for (int i = 0; i < _ListRole.Count; i++)
                            {
                                Role_Model zPlay = _ListRole[i];
                                string Name = zPlay.RoleName;
                                string Key = zPlay.RoleKey;

                                if (Model.Parent == Key)
                                {
                                    <option value="@Key" selected>@Name</option>
                                }
                                else
                                {
                                    <option value="@Key">@Name</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-label-group">

                    <input type="text" id="txt_RoleName" name="RoleName" class="form-control" placeholder="..." required="" value="@Model.RoleName">
                    <label for="txt_RoleName">RoleName (Tên Menu)</label>
                </div>
                <div class="form-label-group">
                    <input type="text" id="txt_RouteName" name="RouteName" class="form-control" placeholder="" value="@Model.RouteName">
                    <label for="txt_RouteName">RouteName (Tên Route)</label>
                </div>
                <div class="form-label-group">
                    <input type="text" id="txt_ActionName" name="ActionName" class="form-control" placeholder="" value="@Model.ActionName">
                    <label for="txt_ActionName">ActionName (Tên Action)</label>
                </div>
                <div class="form-label-group">
                    <input type="text" id="txt_ControllerName" name="ControllerName" class="form-control" placeholder="" value="@Model.ControllerName">
                    <label for="txt_ControllerName">ControllerName (Tên Controller)</label>
                </div>
                <div class="form-label-group">
                    <input type="text" id="txt_ParamName" name="ParamName" class="form-control" placeholder="" value="@Model.ParamName">
                    <label for="txt_ParamName">ParamName (Tham số nếu có)</label>
                </div>
                <div class="form-label-group">
                    <input type="number" id="txt_Level" name="Level" class="form-control" placeholder="" required="" value="@Model.Level" min="1" max="4">
                    <label for="txt_Level">Level (Cấp menu 1,2,3,...)</label>
                </div>
                <div class="form-label-group">
                    <input type="text" id="txt_Description" name="Description" class="form-control" placeholder="" value="@Model.Description">
                    <label for="txt_Description">Description (Ghi chú)</label>
                </div>
                <div class="form-label-group">
                    <input type="text" id="txt_Icon" name="Icon" class="form-control" placeholder="" value="@Model.Icon">
                    <label for="txt_Icon">Icon (Fontawsome Icon)</label>
                </div>
                <div class="form-label-group">
                    <input type="text" id="txt_RoleID" name="RoleID" class="form-control" placeholder="" value="@Model.RoleID">
                    <label for="txt_RoleID">RoleID</label>
                </div>
                <div class="form-label-group">
                    <input type="text" id="txt_Rank" name="Rank" class="form-control" placeholder="" value="@Model.Rank">
                    <label for="txt_Rank">Thứ tự</label>
                </div>
                <input id="Hidden1" type="hidden" name="RoleKey" value="@Model.RoleKey" />
            </div>
        </div>
        <footer class="card-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-default modal-dismiss">Đóng</button>
                    <button class="btn btn-info" id="btn_Save" type="submit">Cập nhật</button>
                </div>
            </div>
        </footer>
    </section>
</form>