﻿@{
    Layout = null;
}

    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Save_Partner">
        <div class="card border border-primary">
            <div class="card-header">
                <h2 class="card-title">Thông tin đối tác</h2>
            </div>
            <div class="card-body border-primary">
                <div class="row">
                    <div class="col-md-3 text-center ">
                        <i class="ti-info-alt fa-5x"></i>
                        <h4 class="c-deep-purple-500 ">Logo</h4>
                        <div class="form-group-sm mb-2">
                            @if (Model.Logo_Large == string.Empty)
                            {
                                <img id="imgpreview" src="@Url.Content("~/assets/themes/img/unnamed.png")" alt="your image" style="width:200px;" />
                            }
                            else
                            {
                                <img id="imgpreview" src="@Url.Content(Model.Logo_Large)" alt="your image" style="width:200px;" />
                            }
                            <input type="file" id="fileListPhoto" multiple name="files">
                        </div>
                    </div>
                    <div class="col-md-9 border-left">
                        <div class="form-group-sm mb-2 row">
                            <label class="col-lg-5 col-xl-3 control-label text-lg-right">Mã ID khách hàng</label>
                            <div class="col-lg-7 col-xl-9">
                                <input type="text" class="form-control" name="PartnerID" value="@Model.PartnerID" required="" id="txt_PartnerID">
                            </div>
                        </div>
                        <div class="form-group-sm mb-2 row">
                            <label class="col-lg-5 col-xl-3 control-label text-lg-right">Tình trạng</label>
                            <div class="col-lg-7 col-xl-9">
                                <select id="cbo_Active" class="form-control select2" name="Activated">
                                    @if (Model.Activated)
                                    {
                                        <option value="true" selected>Hoạt động</option>
                                        <option value="false">Không hoạt động</option>
                                    }
                                    else
                                    {
                                        <option value="true">Hoạt động</option>
                                        <option value="false" selected>Không hoạt động</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group-sm mb-2 row">
                            <label class="col-lg-5 col-xl-3 control-label text-lg-right">
                                Mã gợi nhớ
                                <span class="required">*</span>
                            </label>
                            <div class="col-lg-7 col-xl-9">
                                <input type="text" class="form-control" name="StoreID" value="@Model.StoreID" required="">
                            </div>
                        </div>
                        <div class="form-group-sm mb-2 row">
                            <label class="col-lg-5 col-xl-3 control-label text-lg-right">
                                Tên cửa hàng
                                <span class="required">*</span>
                            </label>
                            <div class="col-lg-7 col-xl-9">
                                <input type="text" class="form-control" name="StoreName" value="@Model.StoreName" required="">
                            </div>
                        </div>
                        <div class="form-group-sm mb-2 row">
                            <label class="col-lg-5 col-xl-3 control-label text-lg-right">
                                Tên đối tác
                                <span class="required">*</span>
                            </label>
                            <div class="col-lg-7 col-xl-9">
                                <input type="text" class="form-control" name="PartnerName" value="@Model.PartnerName" required="">
                            </div>
                        </div>
                        <div class="form-group-sm mb-2 row">
                            <label class="col-lg-5 col-xl-3 control-label text-lg-right pt-2">
                                Địa chỉ
                                <span class="required">*</span>
                            </label>
                            <div class="col-lg-7 col-xl-9">
                                <input type="text" class="form-control" name="PartnerAddress" value="@Model.PartnerAddress" required="">
                            </div>
                        </div>
                        <div class="form-group-sm mb-2 row">
                            <label class="col-lg-5 col-xl-3 control-label text-lg-right pt-2">
                                Số điện thoại
                                <span class="required">*</span>
                            </label>
                            <div class="col-lg-7 col-xl-9">
                                <input type="text" class="form-control" name="PartnerPhone" value="@Model.PartnerPhone" required="" onblur="AutoPassword()" id="txt_Phone">
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="card-footer border-primary text-center">
                <button type="button" class="btn btn-outline-primary modal-dismiss">Đóng</button>
                <button type="submit" class="btn btn-outline-primary">Cập nhật</button>
            </div>
        </div>
        <input id="txt_Base64String" type="hidden" name="Base64String" value="@Model.Logo_Large" />
        <input id="txt_PartnerNumber" type="hidden" name="PartnerNumber" value="@Model.PartnerNumber" />
    </form>
