﻿@model User_Model
@{
    Layout = null;
    var _ListRolePartner = new List<Role_Partner_Model>();
    if (ViewBag.ListRolePartner != null)
    {
        _ListRolePartner = ViewBag.ListRolePartner as List<Role_Partner_Model>;
    }

    var _ListRoleUser = new List<User_Role>();
    if (ViewBag.ListRoleUser != null)
    {
        _ListRoleUser = ViewBag.ListRoleUser as List<User_Role>;
    }
}
<div class="card">
    <div class="card-header">
        <h2 class="card-title text-center">@ViewBag.TitleHead</h2>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-7" id="LeftPanel">
                <div class="card">
                    <div class="card-header p-0 ">
                        <h4 class="text-center font-weight-bold text-white">Chức năng <small>được truy cập</small></h4>

                    </div>
                    <div class="card-body p-0" name="divTable"id="pnAccountRole">
                        <table class="table table-bordered table-sm tblFix" id="tblRoleUser">
                            <thead>
                                <tr>
                                    <th>Stt</th>
                                    <th>Đường dẫn</th>
                                    <th class="text-center" style="width:55px">
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" aria-role name="chkRead" id="dchkRead_all">
                                            <label for="dchkRead_all">Xem</label>
                                        </div>
                                    </th>
                                    <th class="text-center" style="width:55px">
                                        <div class="checkbox-custom checkbox-success">
                                            <input type="checkbox" aria-role name="chkAdd" id="dchkAdd_all">
                                            <label for="dchkAdd_all">Thêm</label>
                                        </div>
                                    </th>
                                    <th class="text-center" style="width:55px">
                                        <div class="checkbox-custom checkbox-warning">
                                            <input type="checkbox" aria-role name="chkEdit" id="dchkEdit_all">
                                            <label for="dchkEdit_all">Sửa</label>
                                        </div>
                                    </th>
                                    <th class="text-center" style="width:55px">
                                        <div class="checkbox-custom checkbox-danger">
                                            <input type="checkbox" aria-role name="chkDel" id="dchkDel_all">
                                            <label for="dchkDel_all">Xóa</label>
                                        </div>
                                    </th>
                                    <th class="text-center" style="width:75px">
                                        <div class="checkbox-custom checkbox-info">
                                            <input type="checkbox" aria-role name="chkExe" id="dchkExe_all">
                                            <label for="dchkExe_all">Xử lý</label>
                                        </div>
                                    </th>
                                    <th>
                                        <button type="button" class="btn btn-sm btn-danger" onclick="RemoveRoleAll()">
                                            <i class="fas fa-arrow-right"></i>
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    int No = 1;
                                    foreach (User_Role Item in _ListRoleUser)
                                    {
                                        string css = "";
                                        switch (Item.Level)
                                        {
                                            case 1:
                                                css = "style='background: aliceblue;'";
                                                break;
                                            case 2:
                                                css = "style='padding-left:3em'";
                                                break;
                                            case 3:
                                                css = "style='padding-left:6em'";
                                                break;
                                            case 4:
                                                css = "style='padding-left:9em'";
                                                break;
                                        }

                                        <tr rolekey="@Item.RoleKey" userkey="@Item.UserKey" id="@Item.RoleKey" parent="@Item.Parent">
                                            <td>@No</td>
                                            <td @Html.Raw(css)>@Item.RoleName</td>

                                            <!--Read-->
                                            <td class="text-center">
                                                @if (Item.RoleRead)
                                                {
                                                    <div class="checkbox-custom checkbox-primary">
                                                        <input type="checkbox" aria-role checked="" name="chkRead" id="chkRead_@Item.RoleKey">
                                                        <label for="chkRead_@Item.RoleKey">&nbsp;</label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="checkbox-custom checkbox-primary">
                                                        <input type="checkbox" aria-role name="chkRead" id="chkRead_@Item.RoleKey">
                                                        <label for="chkRead_@Item.RoleKey">&nbsp;</label>
                                                    </div>
                                                }
                                            </td>
                                            <!--Add-->
                                            <td class="text-center">
                                                @if (Item.RoleAdd && Item.Level > 1)
                                                {
                                                    <div class="checkbox-custom checkbox-success">
                                                        <input type="checkbox" aria-role checked="" name="chkAdd">
                                                        <label for="chkAdd_@Item.RoleKey">&nbsp;</label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="checkbox-custom checkbox-success">
                                                        <input type="checkbox" aria-role name="chkAdd" id="chkAdd_@Item.RoleKey">
                                                        <label for="chkAdd_@Item.RoleKey">&nbsp;</label>
                                                    </div>
                                                }
                                            </td>
                                            <!--Edit-->
                                            <td class="text-center">
                                                @if (Item.RoleEdit && Item.Level > 1)
                                                {
                                                    <div class="checkbox-custom checkbox-warning">
                                                        <input type="checkbox" aria-role checked="" name="chkEdit">
                                                        <label for="chk_@Item.RoleKey">&nbsp;</label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="checkbox-custom checkbox-warning">
                                                        <input type="checkbox" aria-role name="chkEdit" id="chkEdit_@Item.RoleKey">
                                                        <label for="chkEdit_@Item.RoleKey">&nbsp;</label>
                                                    </div>
                                                }
                                            </td>
                                            <!--Del-->
                                            <td class="text-center">
                                                @if (Item.RoleDel && Item.Level > 1)
                                                {
                                                    <div class="checkbox-custom checkbox-danger">
                                                        <input type="checkbox" aria-role checked="" name="chkDel" id="chkDel_@Item.RoleKey">
                                                        <label for="chkDel_@Item.RoleKey">&nbsp;</label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="checkbox-custom checkbox-danger">
                                                        <input type="checkbox" aria-role name="chkDel" id="chkDel_@Item.RoleKey">
                                                        <label for="chkDel_@Item.RoleKey">&nbsp;</label>
                                                    </div>
                                                }
                                            </td>
                                            <!--Exe-->
                                            <td class="text-center">
                                                @if (Item.RoleExe && Item.Level > 1)
                                                {
                                                    <div class="checkbox-custom checkbox-info">
                                                        <input type="checkbox" aria-role checked="" name="chkExe" id="chkExe_@Item.RoleKey">
                                                        <label for="chkExe_@Item.RoleKey">&nbsp;</label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="checkbox-custom checkbox-info">
                                                        <input type="checkbox" aria-role name="chkExe" id="chkExe_@Item.RoleKey">
                                                        <label for="chkExe_@Item.RoleKey">&nbsp;</label>
                                                    </div>
                                                }
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-outline-danger" onclick="RemoveRole('@Item.RoleKey')">
                                                    <i class="fas fa-arrow-right"></i>
                                                </button>
                                            </td>
                                        </tr>

                                        No++;
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-5" id="RightPanel">
                <div class="card">
                    <div class="card-header p-0">
                        <h4 class="text-center font-weight-bold text-white">Chức năng <small>chưa được truy cập</small></h4>

                    </div>
                    <div class="card-body p-0" name="divTable" id="pnAccountDefault">
                        <table class="table table-bordered table-sm tblFix" id="tblRole">
                            <thead>
                                <tr>
                                    <th style="width:1%">
                                        <button type="button" class="btn btn-sm btn-primary" onclick="AddAll()">
                                            <i class="fas fa-arrow-left"></i>
                                        </button>
                                    </th>
                                    <th>Chức năng</th>
                                    <th style="width:1%">
                                        #
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    No = 1;
                                    foreach (Role_Partner_Model Item in _ListRolePartner)
                                    {
                                        string tdClass = "";
                                        string trClass = "";
                                        switch (Item.Level)
                                        {
                                            case 1:
                                                trClass = "style='background: aliceblue;'";
                                                break;
                                            case 2:
                                                tdClass = "style='padding-left:3em'";
                                                break;
                                            case 3:
                                                tdClass = "style='padding-left:6em'";
                                                break;
                                            case 4:
                                                tdClass = "style='padding-left:9em'";
                                                break;
                                        }

                                        <tr rolekey="@Item.RoleKey" id="@Item.RoleKey" parent="@Item.Parent" @Html.Raw(trClass)>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-primary" onclick="AddRole('@Item.RoleKey')">
                                                    <i class="fas fa-arrow-left"></i>
                                                </button>
                                            </td>
                                            <td @Html.Raw(tdClass)>@Item.RoleName</td>
                                            <td>@No</td>
                                        </tr>
                                        No++;
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="card-footer text-center">
        <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
            <i class="far fa-times-circle"></i>
            Đóng
        </button>
        <button id="btn_Save" class="btn btn-outline-primary" onclick="SaveRole()">
            <i class="far fa-save"></i>
            Cập nhật
        </button>
    </div>
</div>
<input id="txt_UserKey" type="hidden" value="@Model.UserKey" />
<input id="txt_UserRole" type="hidden" value="" />
<input id="txt_Slug" type="hidden" value="" />