﻿@model User_Model
@{
    Layout = null;
    var _ListPartner = new List<Partner_Model>();
    if (ViewBag.ListPartner != null)
    {
        _ListPartner = ViewBag.ListPartner as List<Partner_Model>;
    }
}
<form method="post" asp-action="Save_Account" asp-controller="Home" id="frmSubmit" onsubmit="return CheckUser()">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thông tin người dùng</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Chọn đối tác</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Partner" class="form-control select2" name="PartnerNumber">
                        @{
                            foreach (var item in _ListPartner)
                            {
                                if (Model.PartnerNumber == item.PartnerNumber)
                                {
                                    <option value="@item.PartnerNumber" selected>@item.PartnerName</option>
                                }
                                else
                                {
                                    <option value="@item.PartnerNumber">@item.PartnerName</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Tên tài khoản</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_UserName" placeholder="Tên tài khoản" required="" value="@Model.UserName" name="UserName">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-lg-5 col-xl-3 control-label text-lg-right">Mật khẩu</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="password" class="form-control" id="txt_Password" placeholder="Mật mật" required="" value="@Model.Password" name="Password">
                    <input type="hidden" id="lbl_Password" value="@Model.UserName" name="lbl_Password" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-xl-3 control-label text-lg-right">Tình trạng</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Activate" class="form-control select2" name="Activate">
                        @if (Model.Activate)
                        {
                            <option value="0"> Chưa Kích hoạt</option>
                            <option value="1" selected>Kích hoạt</option>
                        }
                        else
                        {
                            <option value="0" selected> Chưa Kích hoạt</option>
                            <option value="1">Kích hoạt</option>
                        }

                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-xl-3 control-label text-lg-right">Ngày hết hạn</label>
                <div class="input-group col-lg-7 col-xl-9">
                    <span class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-calendar-alt"></i>
                        </span>
                    </span>
                    <input class="form-control datepicker" placeholder="ExpireDate" id="txt_ExpireDate"
                           data-plugin-datepicker=""
                           data-date-format="dd/mm/yyyy"
                           value="@Model.ExpireDate.ToString("dd/MM/yyyy")" name="ExpireDate" />
                </div>
            </div>
            <input id="txt_UserKey" type="hidden" value="@Model.UserKey" name="UserKey" />
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="submit" class="btn btn-outline-primary">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
</form>