﻿@{
    Layout = null;
    var _ListRole = new List<Role_Model>();
    if (ViewBag.ListDataRole != null)
    {
        _ListRole = ViewBag.ListDataRole as List<Role_Model>;
    }
}
<table class="table table-bordered table-sm tblFix" id="tblRole">
    <thead>
        <tr>
            <th>
                <button type="button" class="btn btn-sm btn-primary" onclick="AddAll()">
                    <i class="fas fa-arrow-left"></i>
                </button>
            </th>
            <th>Chức năng</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @{
            int No = 1;
            foreach (Role_Model Item in _ListRole)
            {
                string tdClass = "";
                string trClass = "";
                switch (Item.Level)
                {
                    case 1:
                        trClass = "style='background: aliceblue;'";
                        break;
                    case 2:
                        tdClass = "style='padding-left:3em'";
                        break;
                    case 3:
                        tdClass = "style='padding-left:6em'";
                        break;
                    case 4:
                        tdClass = "style='padding-left:9em'";
                        break;
                }

                <tr rolekey="@Item.RoleKey" id="@Item.RoleKey" parent="@Item.Parent" @Html.Raw(trClass)>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary" onclick="AddRole('@Item.RoleKey')">
                            <i class="fas fa-arrow-left"></i>
                        </button>
                    </td>
                    <td @Html.Raw(tdClass)>@Item.RoleName</td>
                    <td>@No</td>
                </tr>
                No++;
            }
        }

    </tbody>
</table>