﻿@{
    Layout = null;
    var _ListData = new List<User_Role>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<User_Role>;
    }
}

<table class="table table-bordered table-sm tblFix" id="tblRoleUser">
    <thead>
        <tr>
            <th>Stt</th>
            <th>Đường dẫn</th>
            <th class="text-center" style="width:55px">
                <div class="checkbox-custom checkbox-primary">
                    <input type="checkbox" aria-role name="chkRead" id="dchkRead_all">
                    <label for="dchkRead_all">Xem</label>
                </div>
            </th>
            <th class="text-center" style="width:55px">
                <div class="checkbox-custom checkbox-success">
                    <input type="checkbox" aria-role name="chkAdd" id="dchkAdd_all">
                    <label for="dchkAdd_all">Thêm</label>
                </div>
            </th>
            <th class="text-center" style="width:55px">
                <div class="checkbox-custom checkbox-warning">
                    <input type="checkbox" aria-role name="chkEdit" id="dchkEdit_all">
                    <label for="dchkEdit_all">Sửa</label>
                </div>
            </th>
            <th class="text-center" style="width:55px">
                <div class="checkbox-custom checkbox-danger">
                    <input type="checkbox" aria-role name="chkDel" id="dchkDel_all">
                    <label for="dchkDel_all">Xóa</label>
                </div>
            </th>
            <th class="text-center" style="width:75px">
                <div class="checkbox-custom checkbox-info">
                    <input type="checkbox" aria-role name="chkExe" id="dchkExe_all">
                    <label for="dchkExe_all">Xử lý</label>
                </div>
            </th>
            <th>
                <button type="button" class="btn btn-sm btn-danger" onclick="RemoveRoleAll()">
                    <i class="fas fa-arrow-right"></i>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>

        @{
            int No = 1;
            foreach (User_Role Item in _ListData)
            {
                string css = "";
                switch (Item.Level)
                {
                    case 1:
                        css = "style='background: aliceblue;'";
                        break;
                    case 2:
                        css = "style='padding-left:3em'";
                        break;
                    case 3:
                        css = "style='padding-left:6em'";
                        break;
                    case 4:
                        css = "style='padding-left:9em'";
                        break;
                }

                <tr rolekey="@Item.RoleKey" userkey="@Item.UserKey" id="@Item.RoleKey" parent="@Item.Parent">
                    <td>@No</td>
                    <td @Html.Raw(css)>@Item.RoleName</td>

                    <!--Read-->
                    <td class="text-center">
                        @if (Item.RoleRead)
                        {
                            <div class="checkbox-custom checkbox-primary">
                                <input type="checkbox" aria-role checked="" name="chkRead" id="chkRead_@Item.RoleKey">
                                <label for="chkRead_@Item.RoleKey">&nbsp;</label>
                            </div>
                        }
                        else
                        {
                            <div class="checkbox-custom checkbox-primary">
                                <input type="checkbox" aria-role name="chkRead" id="chkRead_@Item.RoleKey">
                                <label for="chkRead_@Item.RoleKey">&nbsp;</label>
                            </div>
                        }
                    </td>
                    <!--Add-->
                    <td class="text-center">
                        @if (Item.RoleAdd && Item.Level > 1)
                        {
                            <div class="checkbox-custom checkbox-success">
                                <input type="checkbox" aria-role checked="" name="chkAdd">
                                <label for="chkAdd_@Item.RoleKey">&nbsp;</label>
                            </div>
                        }
                        else
                        {
                            <div class="checkbox-custom checkbox-success">
                                <input type="checkbox" aria-role name="chkAdd" id="chkAdd_@Item.RoleKey">
                                <label for="chkAdd_@Item.RoleKey">&nbsp;</label>
                            </div>
                        }
                    </td>
                    <!--Edit-->
                    <td class="text-center">
                        @if (Item.RoleEdit && Item.Level > 1)
                        {
                            <div class="checkbox-custom checkbox-warning">
                                <input type="checkbox" aria-role checked="" name="chkEdit">
                                <label for="chk_@Item.RoleKey">&nbsp;</label>
                            </div>
                        }
                        else
                        {
                            <div class="checkbox-custom checkbox-warning">
                                <input type="checkbox" aria-role name="chkEdit" id="chkEdit_@Item.RoleKey">
                                <label for="chkEdit_@Item.RoleKey">&nbsp;</label>
                            </div>
                        }
                    </td>
                    <!--Del-->
                    <td class="text-center">
                        @if (Item.RoleDel && Item.Level > 1)
                        {
                            <div class="checkbox-custom checkbox-danger">
                                <input type="checkbox" aria-role checked="" name="chkDel" id="chkDel_@Item.RoleKey">
                                <label for="chkDel_@Item.RoleKey">&nbsp;</label>
                            </div>
                        }
                        else
                        {
                            <div class="checkbox-custom checkbox-danger">
                                <input type="checkbox" aria-role name="chkDel" id="chkDel_@Item.RoleKey">
                                <label for="chkDel_@Item.RoleKey">&nbsp;</label>
                            </div>
                        }
                    </td>
                    <!--Exe-->
                    <td class="text-center">
                        @if (Item.RoleExe && Item.Level > 1)
                        {
                            <div class="checkbox-custom checkbox-info">
                                <input type="checkbox" aria-role checked="" name="chkExe" id="chkExe_@Item.RoleKey">
                                <label for="chkExe_@Item.RoleKey">&nbsp;</label>
                            </div>
                        }
                        else
                        {
                            <div class="checkbox-custom checkbox-info">
                                <input type="checkbox" aria-role name="chkExe" id="chkExe_@Item.RoleKey">
                                <label for="chkExe_@Item.RoleKey">&nbsp;</label>
                            </div>
                        }
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-outline-danger" onclick="RemoveRole('@Item.RoleKey')">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </td>
                </tr>

                No++;
            }
        }

    </tbody>
</table>