﻿@model List<User_Model>

@{
    Layout = null;
}
<table class="table table-sm tblFix" id="tblUser">
    <thead>
        <tr>
            <th>#</th>
            <th>Tài khoản</th>
            <th>Ngày hết hạn</th>
            <th>Sai mật khẩu</th>
            <th>Lần đăng nhập gần nhất</th>
            <th>Tình trạng</th>
            <th class="text-right">
                <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="Edit('')">
                    <i class="fa fa-plus"></i>
                    Thêm mới
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            for (int i = 0; i < Model.Count; i++)
            {
                User_Model Item = Model[i];
                <tr userkey="@Item.UserKey">
                    <td>@(i + 1)</td>
                    <td>@Item.UserName</td>
                    <td>@Item.ExpireDate.ToString("dd/MM/yyyy")</td>
                    <td>@Item.FailedPasswordCount</td>
                    <td>@Item.LastLoginDate.ToString("dd/MM/yyyy")</td>
                    <td>
                        @if (Item.Activate)
                        {
                            <div class="switch switch-sm switch-success">
                                <input type="checkbox" name="switch" data-plugin-ios-switch checked="checked" onchange="Activate('@Item.UserKey')" />
                            </div>
                        }
                        else
                        {
                            <div class="switch switch-sm switch-success">
                                <input type="checkbox" name="switch" data-plugin-ios-switch onchange="Activate('@Item.UserKey')" />
                            </div>
                        }
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-purple btn-sm modal-with-zoom-anim" onclick="SetRoleDesktop('@Item.PartnerNumber','@Item.UserKey')">
                            <i class="fas fa-desktop"></i>
                        </button>
                        <button type="button" class="btn btn-outline-purple btn-sm modal-with-zoom-anim" onclick="SetRoleMobile('@Item.PartnerNumber','@Item.UserKey')">
                            <i class="fas fa-mobile-alt"></i>
                        </button>
                        <button type="button" class="btn btn-outline-warning btn-sm" onclick="Reset('@Item.UserKey')">
                            <i class="fas fa-redo"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm" onclick="Edit('@Item.UserKey')">
                            <i class="far fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@Item.UserKey')">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8">
                    <div class="alert alert-primary">
                        <strong>Bạn chưa có phát sinh dữ liệu !</strong>.
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>