﻿.fixedBR {
    opacity: 75%;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.errorInput {
    border: 2px solid maroon;
}

.table thead th {
    vertical-align: middle !important;
}

#sidebar-left li.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.longtext {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}



.popover {
    z-index: 99999999;
}

.btn-outline-purple {
    color: #9C27B0;
    border-color: #9C27B0;
}

    .btn-outline-purple:hover {
        color: #ffffff;
        background-color: #673AB7;
        border-color: #3F51B5;
    }

.ui-pnotify {
    z-index: 99999999 !important;
}

.number {
    text-align: right !important;
}

.select2-container--default
.select2-selection--single {
    border: 1px solid #ced4da;
}

/*.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
        height: 38px;
    }*/

.select2-container--open {
    z-index: 999999999 !important;
}

.select2-selection--single {
    height: 100% !important;
}

.select2-selection__rendered {
    line-height: 38px !important;
    word-wrap: break-word !important;
    text-overflow: inherit !important;
    white-space: normal !important;
}

/*.select2-selection {
    height: 38.5px !important;
}*/

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: block;
    background: url(/assets/themes/img/loading.gif) center no-repeat #fff;
    background-size: 128px 128px !important;
}

label {
    top: 9px;
}

.inner-wrapper {
    background-repeat: no-repeat;
    margin: auto;
    background-position: center;
    min-height: 47vh;
}

#sidebar-left a.active,
.breadcrumbs a.active {
    font-weight: bold;
    color: orangered !important;
}

table.Custom tr th {
    vertical-align: middle
}

table.Custom tr td:first-child,
table.Custom tr td:last-child {
    width: 1%;
    white-space: nowrap;
}

table.Custom tr th:first-child,
table.Custom tr th:last-child {
    width: 1%;
    white-space: nowrap;
}

table > tbody > tr:hover {
    box-shadow: inset 1px 0 0 #EFF3F8, inset -1px 0 0 #EFF3F8, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    background-color: #f5f5f5;
    cursor: pointer;
}

.modal-block-info .fas,
.modal-block-info .fa {
    color: none !important;
}

table {
    border-collapse: collapse;
}

td {
    position: relative;
}

tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}
/***/
:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem
}

.form-control {
    min-height: 2.7rem !important;
}

.form-label-group {
    position: relative;
    margin-bottom: 0.3rem
}

    .form-label-group > input, .form-label-group > label {
        padding: var(--input-padding-y) var(--input-padding-x)
    }

    .form-label-group > label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0;
        line-height: 1.5;
        color: #495057;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out
    }

    .form-label-group input::-webkit-input-placeholder {
        color: transparent
    }

    .form-label-group input:-ms-input-placeholder {
        color: transparent
    }

    .form-label-group input::-ms-input-placeholder {
        color: transparent
    }

    .form-label-group input::-moz-placeholder {
        color: transparent
    }

    .form-label-group input::placeholder {
        color: transparent
    }

    .form-label-group input:not(:placeholder-shown) {
        padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2/3));
        padding-bottom: calc(var(--input-padding-y)/3)
    }

        .form-label-group input:not(:placeholder-shown) ~ label {
            padding-top: calc(var(--input-padding-y)/3);
            padding-bottom: calc(var(--input-padding-y)/3);
            font-size: 14px;
            color: #777
        }


/*----*/

.book {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    margin: 0 auto;
    border: 5px solid #ecf0f1;
    width: 100px;
    height: 60px;
}

.book__page {
    position: absolute;
    left: 50%;
    top: -5px;
    margin: 0 auto;
    border-top: 5px solid #ecf0f1;
    border-bottom: 5px solid #ecf0f1;
    border-right: 5px solid #ecf0f1;
    background: #3498db;
    width: 50px;
    height: 60px;
    transform-origin: 0% 50%;
    -webkit-animation: flip 1.2s infinite linear;
    animation: flip 1.2s infinite linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

    .book__page:nth-child(1) {
        z-index: -1;
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .book__page:nth-child(2) {
        z-index: -2;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .book__page:nth-child(3) {
        z-index: -3;
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
    }

@-webkit-keyframes flip {
    0% {
        transform: perspective(600px) rotateY(0deg);
    }

    20% {
        background: #217dbb;
    }

    29.9% {
        background: #217dbb;
    }

    30% {
        transform: perspective(200px) rotateY(-90deg);
        background: #3498db;
    }

    54.999% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    60% {
        transform: perspective(200px) rotateY(-180deg);
        background: #3498db;
    }

    100% {
        transform: perspective(200px) rotateY(-180deg);
        background: #3498db;
    }
}

@keyframes flip {
    0% {
        transform: perspective(600px) rotateY(0deg);
    }

    20% {
        background: #217dbb;
    }

    29.9% {
        background: #217dbb;
    }

    30% {
        transform: perspective(200px) rotateY(-90deg);
        background: #3498db;
    }

    54.999% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    60% {
        transform: perspective(200px) rotateY(-180deg);
        background: #3498db;
    }

    100% {
        transform: perspective(200px) rotateY(-180deg);
        background: #3498db;
    }
}
