﻿* {
    touch-action: manipulation;
}

.select2-selection--single {
    height: 100% !important;
}

.select2-selection__rendered {
    word-wrap: break-word !important;
    text-overflow: inherit !important;
    white-space: normal !important;
}

.fixedBRB80px {
    opacity: 75%;
    position: fixed;
    bottom: 80px;
    right: 10px;
}

.fixedBR {
    opacity: 75%;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.back2Top {
    display: none;
    opacity: 75%;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.toggle > label {
    border-radius: 0px !important;
}

.header {
    height: 70px !important;
}

    .header .logo-container {
        background-color: transparent !important;
        background-image: none !important;
        border-bottom: none !important;
        background: #007bff !important;
        height: 70px !important;
    }

h4.notifications {
    float: none !important;
}


.nav {
    flex-wrap: unset !important;
    height: 66px !important;
}

.tab-navigation {
    margin-bottom: 0px !important;
}

.nav-pills .nav-link {
    border-radius: 0px !important;
}

.tab-navigation {
    border-radius: 0px !important;
}

    .tab-navigation nav > ul > li > a {
        background-color: transparent;
        padding-top: 10px !important;
    }

        .tab-navigation nav > ul > li > a.active {
            background-color: #ed9c28 !important;
            color: white !important;
            font-weight: bolder;
        }

    .tab-navigation nav > ul > li:hover:not(.nav-expanded) > a:hover,
    .tab-navigation nav > ul > li:hover:not(.nav-expanded) > a:focus {
        background-color: white;
        color: black;
    }
