﻿
@{
    ViewData["Title"] = "Partner";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var _ListData = new List<Partner_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Partner_Model>;
    }
}
<header class="page-header">
    <h2>Khách hàng</h2>
    <div class="right-wrapper text-right" style="margin-right:10px">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card  ">
            <div class="card-header ">

            </div>
            <div class="card-body ">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>#</th>                            
                            <th>Đối tác</th>
                            <th>Sđt</th>
                            <th>Địa chỉ</th>
                            <th>Tình trạng</th>
                            <th class="text-right">
                                <button type="button" class="btn btn-info" onclick="Edit('')">
                                    <i class="fa fa-plus"></i>Thêm mới
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @if (_ListData.Count > 0)
                        {
                            for (int i = 0; i < _ListData.Count; i++)
                            {
                                Partner_Model rec = _ListData[i];
                                string Status = "Chưa kích hoạt";
                                if (rec.Activated)
                                {
                                    Status = "Đã kích hoạt";
                                }

                                <tr partnernumber="@rec.PartnerNumber">
                                    <td>@(i + 1)</td>                                    
                                    <td>@rec.StoreName</td>
                                    <td>@rec.PartnerPhone</td>
                                    <td>@rec.PartnerAddress</td>
                                    <td>@Status</td>
                                    <td class="text-right">
                                        <button class="btn btn-outline-primary btn-sm" onclick="Edit('@rec.PartnerNumber')">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@rec.PartnerNumber')">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer ">
            </div>
        </div>
    </div>
</div>
<div id="modalEdit" class="zoom-anim-dialog modal-block-lg modal-block modal-header-color modal-block-info mfp-hide">

</div>
@section scripts {
    <script>
        var URL_Edit = "@Url.Action("Edit_Partner", "Home")";
        var URL_Delete = "@Url.Action("Delete_Partner", "Home")";
        var URL_Copy = "@Url.Action("Copy_Partner", "Home")";
    </script>
    <script>
        function Delete(id) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "PartnerNumber": id
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        $("table tr[partnernumber=\"" + id + "\"]")
                                            .addClass("on-remove")
                                            .fadeOut(function () {
                                                $(this).remove();
                                            });
                                    }
                                    else {
                                        Utils.OpenNotify("Lỗi !.", r.Message, "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify("Lỗi !.", err.responseText, "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function Edit(id) {
            $.ajax({
                url: URL_Edit,
                type: "GET",
                data: {
                    "PartnerNumber": id
                },
                beforeSend: function () {
                    Utils.LoadIn();
                    $("#modalEdit").empty();
                },
                success: function (r) {
                    Utils.OpenMagnific("#modalEdit");
                    $("#modalEdit").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify("Lỗi !.", err.responseText, "error");
                },
                complete: function () {
                    Utils.LoadOut();

                    $(".select2").select2({
                        width: "100%",
                        placeholder: "--Chọn--",
                    });
                    $("#fileListPhoto").change(function () {
                        Utils.PreviewImg(this, "#imgpreview");
                        var str = $("#imgpreview").attr("src");
                        $("#txt_Base64String").val(str);
                    });
                }
            });
        }
    </script>
}

