﻿
@{
    ViewData["Title"] = "Partner_Role";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var _ListModule = new List<string>();
    if (ViewBag.ListModule != null)
    {
        _ListModule = ViewBag.ListModule as List<string>;
    }

    var _ListPartner = new List<Partner_Model>();
    if (ViewBag.ListPartner != null)
    {
        _ListPartner = ViewBag.ListPartner as List<Partner_Model>;
    }

    int No = 1;
}

<style>
    table {
        border-collapse: collapse;
    }

    .toggle {
        display: none;
    }

        .toggle:target {
            display: table-row;
        }
</style>

<header class="page-header">
    <h2>Phân chức năng cho đối tác/khách hàng</h2>
    <div class="right-wrapper text-right" style="margin-right:10px">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-4" id="LeftPanel">
        <div class="card">
            <div class="card-header p-0">
                <h4 class="text-center font-weight-bold">Đối tác</h4>
                <select class="form-control select2" name="Module" id="cbo_SearchPartner"></select>
            </div>
            <div class="card-body p-0" name="divTable">
                <table class="table table-bordered table-sm" style="cursor:pointer;" id="tblPartner">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Đối tác</th>
                            <th>.</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (_ListPartner.Count > 0)
                        {
                            for (int i = 0; i < _ListPartner.Count; i++)
                            {
                                Partner_Model rec = _ListPartner[i];
                                <tr partnernumber="@rec.PartnerNumber">
                                    <td>@(i + 1)</td>
                                    <td>@rec.StoreName</td>
                                    <td>.</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4" id="CenterPanel">
        <div class="card">
            <div class="card-header p-0">
                <h4 class="text-center font-weight-bold">Chức năng <small>được truy cập</small></h4>
                <select class="form-control select2" name="Module" id="cbo_SearchRolePartner">
                    <option value="0" selected>--Chọn nhóm--</option>
                    @{
                        foreach (string Item in _ListModule)
                        {
                            <option value="@Item">@Item</option>
                        }
                    }
                </select>
            </div>
            <div class="card-body p-0" name="divTable" id="pnPartnerData">

            </div>
        </div>
    </div>
    <div class="col-md-4" id="RightPanel">
        <div class="card">
            <div class="card-header p-0">
                <h4 class="text-center font-weight-bold">Chức năng <small>chưa được truy cập</small></h4>
                <select class="form-control select2" name="Module" id="cbo_SearchRoleDefault">
                    <option value="0" selected>--Chọn nhóm--</option>
                    @{
                        foreach (string Item in _ListModule)
                        {
                            <option value="@Item">@Item</option>
                        }
                    }
                </select>
            </div>
            <div class="card-body p-0" name="divTable" id="pnRoleData">

            </div>
        </div>
    </div>
</div>
<input id="txt_PartnerNumber" type="hidden" value="" />
@section scripts {
    <script>
        var URL_Role_Partner = "@Url.Action("Role_Data_Partner","Home")";
        var URL_Role_Default = "@Url.Action("Role_Data_Default", "Home")";
        var URL_Role_Remove = "@Url.Action("Role_Remove","Home")";
        var URL_Role_Remove_All = "@Url.Action("Role_Remove_All","Home")";
        var URL_Role_Add = "@Url.Action("Role_Add","Home")";
        var URL_Role_Add_All =  "@Url.Action("Role_Add_All","Home")";
    </script>
    <script>
        var width = $(window).width();
        const userAgent = navigator.userAgent.toLowerCase();
        const isTablet = /(ipad|tablet|(android(?!.*mobile))|(windows(?!.*phone)(.*touch))|kindle|playbook|silk|(puffin(?!.*(IP|AP|WP))))/.test(userAgent);
        $(document).ready(function () {
            if (isTablet || width <= 1366) {
                $("html").addClass("sidebar-left-collapsed");
            }
            $("[name=\"divTable\"]").css({
                "height": $(window).height() - 390,
            });

            $("#tblPartner").on("click", "tr", function (e) {
                var id = $(this).attr("partnernumber");
                $("#txt_PartnerNumber").val(id);

                e.preventDefault();
                // removes all highlights from tr's
                $("#tblPartner tr").removeClass("highlight");
                // adds the highlight to this row
                $(this).addClass("highlight");

                GetPartnerData(id, "");
            });

            $("#cbo_SearchRoleDefault").change(function () {
                var module = $(this).val();
                var id = $("#txt_PartnerNumber").val();
                GetModuleData(id, module);
            });

            $("#cbo_SearchRolePartner").change(function () {
                var module = $(this).val();
                var id = $("#txt_PartnerNumber").val();

                GetPartnerData(id, module);
            });
        });

        function GetPartnerData(id, module) {
            $.ajax({
                url: URL_Role_Partner,
                type: "GET",
                data: {
                    "PartnerNumber": id,
                    "Module": module
                },
                beforeSend: function () {
                    $("#pnPartnerData").empty();
                },
                success: function (r) {
                    $("#pnPartnerData").html(r);
                },
                error: function (err) {
                    Utils.OpenNotify("Lỗi !.", err.responseText, "error");
                },
                complete: function () {
                    $("#tblRolePartner").tableHeadFixer({
                        head: true,
                        foot: false,
                        left: 0,
                        right: 0,
                        "z-index": "501"
                    });
                }
            });
        }
        function GetModuleData(id, module) {
            $.ajax({
                url: URL_Role_Default,
                type: "GET",
                data: {
                    "PartnerNumber": id,
                    "Module": module
                },
                beforeSend: function () {
                    $("#pnRoleData").empty();
                },
                success: function (r) {
                    $("#pnRoleData").html(r);
                },
                error: function (err) {
                    Utils.OpenNotify("Lỗi !.", err.responseText, "error");
                },
                complete: function () {
                    $("#tblRole").tableHeadFixer({
                        head: true,
                        foot: false,
                        left: 0,
                        right: 0,
                        "z-index": "501"
                    });
                }
            });
        }

        function AddAll() {
            var ListRole = [];

            $("#tblRole tbody tr").each(function () {
                var obj = {
                    RoleKey: $(this).attr("rolekey"),
                    Module: $("#cbo_SearchRoleDefault").val(),
                    PartnerNumber: $("#txt_PartnerNumber").val(),
                };
                ListRole.push(obj);
            });

            console.log(ListRole);

            $.ajax({
                url: URL_Role_Add_All,
                type: "POST",
                data: {
                    "ListRole": ListRole
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {

                    var id = $("#txt_PartnerNumber").val();
                    var module = $("#cbo_SearchRolePartner").val();

                    GetPartnerData(id, module);
                    GetModuleData(id, module);
                },
                error: function (err) {
                    Utils.OpenNotify("Lỗi !.", err.responseText, "error");
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
        function AddRole(roleKey) {
            var id = $("#txt_PartnerNumber").val();
            var module = $("#cbo_SearchRoleDefault").val();
            $.ajax({
                url: URL_Role_Add,
                type: "GET",
                data: {
                    "PartnerNumber": id,
                    "RoleKey": roleKey,
                    "Module": module,
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.success) {
                        $("tr[rolekey=\"" + roleKey+"\"]").remove();
                        GetPartnerData(id, module);
                    }                   
                },
                error: function (err) {
                    Utils.OpenNotify("Lỗi !.", err.responseText, "error");
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }

        function RemoveAll() {
            var id = $("#txt_PartnerNumber").val();
            var module = $("#cbo_SearchRolePartner").val();

            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa hết tất cả quyền này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {

                            $.ajax({
                                url: URL_Role_Remove_All,
                                type: "POST",
                                data: {
                                    "PartnerNumber": id,
                                    "Module": module,
                                },
                                beforeSend: function () {
                                    Utils.LoadIn();
                                },
                                success: function (r) {
                                    if (r.success) {
                                        GetPartnerData(id, module);
                                        GetModuleData(id, module);
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify("Lỗi !.", err.responseText, "error");
                                },
                                complete: function () {
                                    Utils.LoadOut();
                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
            
        }
        function RemoveRole(roleKey) {
            var $tr = $("tr[rolekey=\"" + roleKey + "\"]");
            var parent = $tr.attr("parent");
            var id = $("#txt_PartnerNumber").val();
            var module = $("#cbo_SearchRoleDefault").val();

            var mess = "Bạn có chắc xóa thông tin này ?.";
            if (parent === "0") {
                mess = "Đây là quyền cha, khi xóa sẽ không thể truy cập các quyền con liên quan !.";
            }

            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: mess,
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                           
                            $.ajax({
                                url: URL_Role_Remove,
                                type: "POST",
                                data: {
                                    "PartnerNumber": id,
                                    "RoleKey": roleKey
                                },
                                beforeSend: function () {
                                    Utils.LoadIn();
                                },
                                success: function (r) {
                                    if (r.success) {
                                        $tr.remove();
                                        GetModuleData(id, module);
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify("Lỗi !.", err.responseText, "error");
                                },
                                complete: function () {
                                    Utils.LoadOut();
                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
    </script>
}