﻿@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _ListRole = new List<Role_Model>();
    if (ViewBag.ListRole != null)
    {
        _ListRole = ViewBag.ListRole as List<Role_Model>;
    }
    var _ListModule = new List<string>();
    if (ViewBag.ListModule != null)
    {
        _ListModule = ViewBag.ListModule as List<string>;
    }

    string SelectModule = "";
    if (!string.IsNullOrEmpty(Context.Request.Query["Module"]))
    {
        SelectModule = Context.Request.Query["Module"];
    }
    string SelectSlug = "";
    if (!string.IsNullOrEmpty(Context.Request.Query["Slug"]))
    {
        SelectSlug = Context.Request.Query["Slug"];
    }
}
<header class="page-header">
    <h2>Bộ Menu</h2>
    <div class="right-wrapper text-right" style="margin-right:10px">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card  ">
            <div class="card-header ">
                <form class="row" action="@Url.Action("Role")" method="get" id="form_Search">
                    <div class="col-md-4">
                        <select class="form-control select2" name="Module" id="cbo_SearchRole">
                            <option value="">--Chọn--</option>
                            @{
                                foreach (string Item in _ListModule)
                                {
                                    if (Item == SelectModule)
                                    {
                                        <option value="@Item" selected>@Item</option>
                                    }
                                    else
                                    {
                                        <option value="@Item">@Item</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control select2" name="Slug" id="cbo_SearchSlug">
                            <option value="0" selected>--Chọn--</option>
                            @if (SelectSlug == "9")
                            {
                                <option value="8">Desktop</option>
                                <option value="9" selected>Mobile</option>
                            }
                            else
                            {
                                <option value="8" selected>Desktop</option>
                                <option value="9">Mobile</option>
                            }

                        </select>
                    </div>
                    <div class="col-md-4 text-right">
                        <button type="submit" class="btn btn-primary">
                            Tìm
                        </button>
                    </div>
                </form>
            </div>
            <div class="card-body  p-0" id="divTable">
                <table class="table table-sm" id="tblData">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Rank</th>
                            <th>RoleName</th>
                            <th>RouteName</th>
                            <th>ActionName</th>
                            <th>ControllerName</th>
                            <th>Module</th>
                            <th>Description</th>
                            <th>
                                <a class="btn btn-info float-right" href="#modalEdit" onclick="Edit(0)">
                                    <i class="fa fa-plus"></i>
                                    Thêm mới
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @if (_ListRole.Count > 0)
                        {
                            _ListRole = _ListRole.OrderBy(p => p.RoleID).ToList();

                            for (int i = 0; i < _ListRole.Count; i++)
                            {
                                Role_Model rec = _ListRole[i];
                                <tr rolekey="@rec.RoleKey">
                                    <td>@(i + 1)</td>
                                    <td>@rec.RoleID </td>
                                    <td>
                                        <i class="@rec.Icon"></i>
                                        @rec.RoleName
                                    </td>
                                    <td>@rec.RouteName </td>
                                    <td>@rec.ActionName + "?" + rec.ParamName</td>
                                    <td>@rec.ControllerName</td>
                                    <td>@rec.Module</td>
                                    <td>@rec.Description </td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-outline-primary btn-sm " onclick="Copy('@rec.RoleKey')">
                                            <i class="far fa-copy"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-primary btn-sm " onclick="Edit('@rec.RoleKey')">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm " onclick="Delete('@rec.RoleKey')">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="9">
                                    <div class="alert alert-primary">
                                        <strong>Bạn chưa có phát sinh dữ liệu !</strong>.
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer ">
            </div>
        </div>
    </div>
</div>
<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

</div>
@section scripts {
    <script>
        var URL_Edit = "@Url.Action("Edit_Role", "Home")";
        var URL_Delete = "@Url.Action("Delete_Role", "Home")";
        var URL_Copy = "@Url.Action("Copy_Role","Home")";
    </script>
    <script>
        $(document).ready(function () {
            $("#divTable").css({
                "height": $(window).height() - 290,
            });
            $("#tblData").tableHeadFixer({
                head: true,
                foot: false,
                left: 3,
                right: 1,
                "z-index": "50"
            });
        });

        function Edit(id) {
            $.ajax({
                url: URL_Edit,
                type: "GET",
                data: {
                    "RoleKey": id,
                    "Module": $("#cbo_SearchRole").val()
                },
                beforeSend: function () {
                    Utils.LoadIn();
                    $("#modalEdit").empty();
                },
                success: function (r) {
                    $("#modalEdit").html(r);
                    Utils.OpenMagnific("#modalEdit");
                },
                error: function (err) {

                },
                complete: function () {
                    $("#modalEdit .select2").select2({
                        width: "100%",
                        placeholder: "--Chọn--",
                        tags: true,
                        createTag: function (params) {
                            return {
                                id: params.term,
                                text: params.term,
                                newOption: true
                            }
                        }
                    });
                    Utils.LoadOut();
                }
            });
        }
        function Delete(id) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "RoleKey": id
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        $("table tr[rolekey=\"" + id + "\"]")
                                            .addClass("on-remove")
                                            .fadeOut(function () {
                                                $(this).remove();
                                            });
                                    }
                                    else {
                                        Utils.OpenNotify("Lỗi !.", r.Message, "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify("Lỗi !.", err.responseText, "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function Copy(id) {
            $.ajax({
                url: URL_Copy,
                type: "POST",
                data: {
                    "RoleKey": id,
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.success) {
                        location.reload();
                        //var key = r.data;
                        //Edit(key);
                    }
                    else {
                        Utils.OpenNotify("Lỗi !.", r.message, "error");
                    }
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
    </script>
}