﻿
@{
    Layout = null;
}

<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng nhập</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body style="font-size:larger">
    <form class="login" method="post" asp-controller="Auth" asp-action="SignIn">
        <i class="fa fa-empire"></i>
        <h2>Đăng nhập</h2>
        <div class="group">
            <input type="text" placeholder="Tên đăng nhập" name="Username">
            <i class="fa fa-user"></i>
        </div>
        <div class="group">
            <input type="password" placeholder="Mật khẩu" name="Password">
            <i class="fa fa-lock"></i>
        </div>
        <button type="submit">
            <i class="fa fa-send"></i>Đăng nhập
        </button>
        @if (ViewBag.Message == "405")
        {
            <p>Tên đăng nhập/ mật khẩu không đúng !.</p>
            <hr />
        }

        <p class="fs" style="margin-top:10px">Quên <a href="#">Tên đăng nhập</a> / <a href="#">Mật khẩu</a> ? </p>
        <p class="ss">Bạn chưa có tài khoản ? <a href="">Đăng ký</a></p>
    </form>
    @{
        if (ViewBag.Message == "IsAuthen")
        {
            <script>
                window.location.replace("@Url.Action("Index", "Home")");
            </script>
        }
    }
</body>
</html>
