/* Add here all your CSS customizations */
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    background: url(/assets/Ripple-1s-200px.gif) center no-repeat #fff;
}

/*style*/
.header.header-nav-menu
.header-nav-main nav > ul > li > a {
    /*font-size: 14px !important;*/
}

label {
    padding-top: 0.5rem !important;
}

tr th:first-child, td:first-child,
tr th:last-child, td:last-child {
    width: 1%;
    white-space: nowrap;
}

html, body {
    /*background: white;*/
}

.page-header {
    background: #08C !important;
}

    .page-header h2 {
        border-bottom-color: #f6c382;
    }

.select2-selection__rendered {
    line-height: 35px !important;
}

.select2-container .select2-selection--single {
    height: 38px !important;
}

.select2-selection__arrow {
    height: 34px !important;
}

/*loading*/
